<main class="container">
  <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
  <li style="color:DodgerBlue;text-align:right;">
    <%= link "Sign in", to: Routes.session_path(@conn, :create) %>
  </li>
  <%= @inner_content %>
</main>
